*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}
.main-div{
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.main-div .inner-div{
    height: 85vh;
    width: 85%;
    border: 6px solid rgb(39, 190, 249);
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 40px;
    background-color: rgb(1, 1, 33);
    box-shadow: 0 0 10px white;

}
/* NAV BAR */
.main-div .inner-div .nav-bar{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LEFT NAV BAR */
.main-div .inner-div .nav-bar .left-nav{
 width: 20%;
 display: flex;
padding-top: 15px;
 justify-content: center;
 color: white;

}
.main-div .inner-div .nav-bar .left-nav span{
    color:  rgb(39, 190, 249);
}


/* CENTER NAV BAR */
.main-div .inner-div  .nav-bar .center-nav{
    width: 40%;
}
.main-div .inner-div  .nav-bar .center-nav ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 20px;
    font-weight: bold;

}
.main-div .inner-div  .nav-bar .center-nav ul li{
    list-style-type: none;
   
}
.main-div .inner-div  .nav-bar .center-nav ul li a{
    text-decoration: none;
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 90px;
    position: relative;
    

}
.main-div .inner-div  .nav-bar .center-nav ul li a:hover{
    cursor: pointer;
    color:rgb(39, 190, 249) ;
    text-decoration: underline;
    text-decoration-color:rgb(39, 190, 249)  ;
    text-decoration-thickness: 3px;
    font-size: 22px;
}

/* RIGHT NAV BAR */
.main-div .inner-div .nav-bar .right-nav{
height: 100%;
 width: 250px;
 display: flex;
 justify-content: center;
 align-items: center;
 border-left: 1px solid rgb(39, 190, 249);
 font-size: 10px;
}


.main-div .inner-div .nav-bar .right-nav .cv-btn{
    width: 180px;
    height: 45px;
    background-color: #c0274b;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
}
.cv-btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 15px cyan;
    transition: 0.3s;
}

.main-div .inner-div .nav-bar .right-nav .cv-btn i{
    padding: 10px;
    padding-left: 5px;
    font-size: 20px;
    line-height: 1;
}


/* content */
.main-div .inner-div .content{
    height: 65vh;
    width: auto;
    display: flex;
    flex-direction: column;
    animation:textSlide 1.5s ease ;

}
@keyframes textSlide{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }

}
.main-div .inner-div .content .innerheading{
    height: 25%;
    width: 100%;
    text-align: center;
}
.main-div .inner-div .content .innerheading h1 span{
    display: inline-block;
    opacity: 0;
    letter-spacing: -6px;
    transform: translateX(50px);
    animation: slideIn 0.5s forwards;
    font-family: 'poppins',sans-serif;
    font-size: 40px;
    font-weight: bold;
        color: rgb(0,208,255);
    text-shadow:
        0 0 10px rgb(160, 154, 194),
        0 0 20px rgb(163, 163, 178),
        0 0 40px rgb(139, 147, 186);

    transition: 0.5s;

}
/* Delays for each letter */
.main-div .inner-div .content .innerheading h1  span:nth-child(1){
    animation-delay: 0s;
}

.main-div .inner-div .content .innerheading h1 span:nth-child(2){
    animation-delay: 0.1s;
}



.main-div .inner-div .content .innerheading h1  span:nth-child(3){
    animation-delay: 0.2s;
}



.main-div .inner-div .content .innerheading h1  span:nth-child(4){
    animation-delay: 0.3s;
}
.main-div .inner-div .content .innerheading h1  span:nth-child(5){
    animation-delay: 0.4s;
}

.main-div .inner-div .content .innerheading h1 span:nth-child(6){
    animation-delay: 0.5s;
}

.main-div .inner-div .content .innerheading h1  span:nth-child(7){
    animation-delay: 0.6s;
}

.main-div .inner-div .content .innerheading h1  span:nth-child(8){
    animation-delay: 0.7s;
}
.main-div .inner-div .content .innerheading h1  span:nth-child(9){
    animation-delay: 0.8s;
}
.main-div .inner-div .content .innerheading h1  span:nth-child(10){
    animation-delay: 0.9s;
}

@keyframes slideIn{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
.main-div .inner-div .content .innerheading h1 {
    color: #00e5ff;
    font-size: 42px;
    font-weight: 700;
    text-shadow: 0 0 15px #00e5ff;
    font-family: 'poppins',sans-serif;
    margin-top: -60px;
}
.main-div .inner-div .content .innerheading p{
    font-size: 16px;
    opacity: 0.8;
    margin-bottom: 15px;
    color: #c8ffff;
}
.main-div .inner-div .content .mainblock{
    height: 75%;
    width: 100%;
    /* border: 5px solid rgb(0, 255, 38); */
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}
.main-div .inner-div .content .mainblock .firstblock{
    width: 35%;
    height: 100%;
    border: 5px solid rgb(39, 190, 249);
    border-radius: 30px;
    margin-left: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.main-div .inner-div .content .mainblock .firstblock div{
     border-radius: 15px;
     height: 20%;
     width: 95%;


}
.main-div .inner-div .content .mainblock .firstblock div input{
    background-color: rgba(54, 173, 220, 0.15);
    border:2px solid rgb(39,190,249);
    border-radius: 15px;
    height: 100%;
    width: 100%;
}
input,
textarea{
    width: 90%;
    padding: 15px;
    color: white;
    font-size: 18px;
    background: transparent;
    border: 2px solid rgb(39,190,249);
    border-radius: 15px;
}

input::placeholder,
textarea::placeholder{
    color: lightgray;
}

input:focus,
textarea:focus{
    color: rgb(39,190,249);
    box-shadow: 0 0 15px rgb(39,190,249);
}
.main-div .inner-div .content .mainblock .firstblock div input:hover{
    cursor: pointer;

}
.main-div .inner-div .content .mainblock .firstblock div input::placeholder{
    color: rgb(159, 157, 157);
    padding-left:30px ;
    font-size: 15px;
}

.main-div .inner-div .content .mainblock .firstblock div button{
    background-color: rgb(0, 208, 255);
    color: rgb(1, 1, 33);
    border: 1px solid rgb(1, 1, 33);
     border-radius: 15px;
     height: 100%;
     width: 100%;
     font-size: larger;
     font-weight: bold;
}
.main-div .inner-div .content .mainblock .firstblock div button:hover{
    cursor: pointer;
}

.main-div .inner-div .content .mainblock .secondblock{
    width: 35%;
    height: 100%;
    border: 5px solid rgb(39, 190, 249);
    border-radius: 30px;
    margin-right: 130px;
   background-color: rgba(54, 173, 220, 0.15);
   padding: 25px;
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.main-div .inner-div .content .mainblock .secondblock .bigdiv{
    display: flex;
    align-items: center;
    gap: 20px;

}
.main-div .inner-div .content .mainblock .secondblock .bigdiv1{
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid gray;
}

.main-div .inner-div .content .mainblock .secondblock .bigdiv1 .link1{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.main-div .inner-div .content .mainblock .secondblock .bigdiv1 .text1{
    display: flex;
    flex-direction: column;
    color: rgb(116, 192, 252);
    font-size: 20px;
}
.link{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.text{
    display: flex;
    flex-direction: column;
}
.text h2{
    color: white;
    margin: 0px;
}
.text p{
    color: lightgray;
    margin-top: 5px;
}

.available{
    margin-top: -5px;
    height: 60px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 15px;
    color: rgb(252, 79, 67) ;
}

.available span{
    display: block;
    margin-top: -10px;
    color: white;
}



.firstblock,
.secondblock{
    border: 3px solid rgb(39,190,249);
    border-radius: 20px;

    transition: all 0.4s ease;

    box-shadow:
        0 0 5px rgb(39,190,249),
        0 0 10px rgb(39,190,249),
        0 0 20px rgba(39,190,249,0.8);
}

.firstblock:hover,
.secondblock:hover{
    transform: scale(1.03);

    box-shadow:
        0 0 15px rgb(39,190,249),
        0 0 25px rgb(39,190,249),
        0 0 35px rgb(39,190,249),
        0 0 45px rgba(39,190,249,0.8);
}